/data/*

ConvE/log/*
ConvE/models/*

.ipynb_checkpoints/*
*/__pycache__/*

Release/
*.zip
*.sublime-project
*.sublime-workspace

*.pyc
*.swp
*.egg
*.zip
*.pt
._*
env/

.workon
*.lprof
*.lprof.old

*.DS_Store

*.log
*.fls
*.fdb_latexmk
*.bbl
*.out
*.aux
*.blg
*.synctex.gz

# Vim swap files
*.swp